cordova*js
app/.gitignore
app/README.*

# Ignore a potential jDrupal folder
jDrupal
jdrupal.min.js
jdrupal.js

# Ignore jQM Theme Roller Files
bin/themes/images
bin/themes/*.css


.drupalgap-backups

